{% extends "base.html" %}
{% load df_nursery_template_tags %}
{% load i18n %}

{% block meta_title %}{% trans "Nursery Label Creator" %}{% endblock %}
{% block title %}{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}
{% block main %}
    {% if user.is_authenticated %}
        <div>
            <h2>Label Lists</h2>
            <ul id="order-list">
                <li>2017/02/04 Printed: False</li>
            </ul>
        </div>
        <hr>
        <div>
            <h2>Add Labels to Order</h2>
            <div>
                <form>
                    <div class="form-group">
                        <label>Cultivar Name</label>
                        <input id="cultivar-search" class="form-control" type="text" placeholder="Red Delicious">
                    </div>
                    <div class="form-group">
                        <label>Qty</label>
                        <input class="form-control" type="number" placeholder="1">
                    </div>
                </form>
            </div>
            <h2>Current Label List</h2>
            <ul id="current-order-list">
                <li>Red Delicious x 5 (X)</li>
                <li>Blacktwig x 3 (X)</li>
                <li>Yarrington Mills x 1 <span class="alert-danger">(X)</span></li>
            </ul>
        </div>
        <div>
        {% if not printed %}
            <a class="btn btn-lg btn-primary" href="/nursery/labels/print">Print List</a>
        {% else %}
            <a class="btn btn-lg btn-danger" href="/nursery/labels/print">Print List Again</a>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block body_scripts %}
    <script>

    $.typeahead({
    input: '#cultivar-search',
    minLength: 3,
    order: "asc",
    offset: true,
    hint: true,
    source: {
        car: {
            //data: ["My first added brand", "M1 added brand at start"],
            ajax: {
                type: "GET",
                url: "http://openfruit.io/api/v1/cultivars/",
                data: {
                    username: "dfnurseryapi",
                    password: "dfnurseryapi"
                }
            }
        }
    },
    callback: {
        onClick: function (node, a, item, event) {

            console.log(node);
            console.log(a);
            console.log(item);
            console.log(event);

            console.log('onClick function triggered');

        },
        onSubmit: function (node, form, item, event) {

            console.log(node);
            console.log(form);
            console.log(item);
            console.log(event);

            console.log('onSubmit override function triggered');

        }
    }
});
    </script>
{% endblock %}